

.search{
    display: flex;
    flex-direction: row;
}

.spacefornav{
    height: 60px;
}

.toptab{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.toptab .querybar{
    height: 65px;
    width: 50%;
    border-radius: 13px;
    border: 2px solid #c59af1;
}

.toptab .leftinput{
   margin: 10px 10px 10px 10px;
   height: 40px;
   outline: none;
   border-radius: 10px;
}

.toptab .rightbutton{
    height: 40px;
    outline: none;
    background-color: #230343;
    border: 2px solid #c59af1;
}

.toptab .domainShowShell{
    margin-top: 50px;
    margin-bottom: 20px;
}